.sidebar-container {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pro5-img {
  width: 90%; /* Chiếm toàn bộ chiều rộng của sidebar */
  height: auto; /* Tự động điều chỉnh chiều cao để giữ tỷ lệ khung hình */
  object-fit: cover;
  border-radius: 30px;
  margin-top: 10px;
}
